apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: command-service-hpa
  namespace: arborthrive
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: command-service
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
